@import "tailwindcss";

:root {
  --background: #0e1111;
  --foreground: #171717;
  --glass:#054569;
  --text:#22d3ee;
}

/* #062c43
#054569
#5591a9
#9ccddc
#ced7e0 */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-glass:var(--glass);
  --color-text:var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #ced7e0; /* indigo-500 */
  border-radius: 9999px;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ced7e0 #020617;
}